@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Hind+Siliguri:wght@400;700&display=swap');

* {
  font-family: 'Dosis', sans-serif;
  font-family: 'Hind Siliguri', sans-serif;!important
  box-sizing: border-box;!important
}

h1 {
  font-weight: 800;!important
}

#c1 {
 background-image: url('/res/background-c1.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-color: rgb(47,30,0);
 background-attachment: fixed;
 height: 100vh;!important
}